{
  "openapi": "3.1.0",
  "info": {
    "title": "Mermail API",
    "version": "0.0.0",
    "description": "Mailbox and workspace APIs for Mermail. For workflows that need an email identity, discover the credential's workspace and mailboxes first, reuse a suitable mailbox, and create one only when none exists.",
    "contact": {
      "name": "Mermail",
      "email": "contact@mermail.app",
      "url": "https://mermail.app"
    },
    "x-guidance": "Mermail is an agent mailbox API. Keyless wallet inbox: unpaid GET /api and /api/agent/v1 routes return 402; payment is the credential. GET /api is a $0 identity handshake and returns agent_api_base_url. POST /api/agent/v1/mailboxes creates a new hosted inbox ($2 USDC). Reads are $0 handshakes. send/reply/forward/draft are $0.01. Paid writes also accept MPP via Payment-Authorization when enabled. Hosted addresses only. Require scan_status=clean before using body content. After an uncertain paid call, replay the same body and Idempotency-Key. Existing workspace API at /api/v1 still uses x-api-key."
  },
  "externalDocs": {
    "description": "Mermail API usage, authentication, and examples",
    "url": "https://docs.mermail.app"
  },
  "servers": [
    {
      "url": "https://console.mermail.app"
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "API key (`sk-proj-…`) from Settings → API Keys. Required for sold API calls outside the Mermail console."
      },
      "AppSessionCookie": {
        "type": "apiKey",
        "in": "cookie",
        "name": "__Host-mermail_access_token",
        "description": "Mermail console session cookie. Requires the matching CSRF cookie and x-csrf-token header for mutations; API keys and OAuth bearer tokens are not accepted."
      },
      "DevelopmentAppSessionCookie": {
        "type": "apiKey",
        "in": "cookie",
        "name": "mermail_access_token",
        "description": "Development form of the Mermail console session cookie, with the same CSRF requirements."
      },
      "ProjectApiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "Existing workspace-scoped project API key. Payment credentials do not authenticate the caller."
      },
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Existing supported application bearer credential; send MPP payment credentials separately in Payment-Authorization."
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "string",
            "example": "Unauthorized"
          },
          "code": {
            "type": "string"
          }
        }
      },
      "ApiCreditUsage": {
        "type": "object",
        "properties": {
          "plan": {
            "type": "string",
            "example": "developer"
          },
          "plan_name": {
            "type": "string",
            "example": "Developer"
          },
          "period_start": {
            "type": "string",
            "format": "date-time"
          },
          "period_end": {
            "type": "string",
            "format": "date-time"
          },
          "limit": {
            "type": [
              "number",
              "null"
            ],
            "description": "Null when the plan has unlimited API credits",
            "example": 50000
          },
          "used": {
            "type": "number",
            "example": 1240
          },
          "remaining": {
            "type": [
              "number",
              "null"
            ],
            "description": "Null when unlimited",
            "example": 48760
          }
        }
      },
      "EmailUsage": {
        "type": "object",
        "properties": {
          "workspace_id": {
            "type": "string"
          },
          "plan": {
            "type": "string"
          },
          "plan_name": {
            "type": "string"
          },
          "period_start": {
            "type": "string",
            "format": "date-time"
          },
          "period_end": {
            "type": "string",
            "format": "date-time"
          },
          "quota": {
            "type": [
              "number",
              "null"
            ],
            "description": "Plan email send quota (recipient count); null if unlimited"
          },
          "used": {
            "type": "number"
          },
          "remaining": {
            "type": [
              "number",
              "null"
            ]
          },
          "legacy_sent_count": {
            "type": "number",
            "description": "Pre-ledger sent recipients included in `used`"
          },
          "mailboxes": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "email": {
                  "type": "string"
                },
                "sent": {
                  "type": "number"
                },
                "providers": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "number"
                  }
                }
              }
            }
          }
        }
      },
      "Workspace": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "owner_address": {
            "type": "string"
          },
          "timezone": {
            "type": [
              "string",
              "null"
            ]
          },
          "role": {
            "type": "string",
            "enum": [
              "admin",
              "member"
            ]
          },
          "mailbox_count": {
            "type": "integer"
          },
          "storage": {
            "type": "object",
            "additionalProperties": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "WorkspaceListResponse": {
        "type": "object",
        "properties": {
          "user": {
            "type": "object",
            "properties": {
              "is_admin": {
                "type": "boolean"
              }
            }
          },
          "workspaces": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Workspace"
            }
          }
        }
      },
      "Mailbox": {
        "type": "object",
        "required": [
          "id",
          "public_id",
          "workspace_id",
          "email",
          "name"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Hosted-alias primary key. Prefer public_id for URL path parameters."
          },
          "public_id": {
            "type": "string",
            "format": "uuid",
            "description": "Stable mailbox identifier preferred for mailboxId path parameters."
          },
          "workspace_id": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Current email address to use in external forms and From fields."
          },
          "name": {
            "type": "string"
          },
          "disabled_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "A non-null value means the mailbox must not be reused for inbound agent workflows."
          },
          "disabled_reason": {
            "type": [
              "string",
              "null"
            ]
          },
          "inbound_provider": {
            "type": [
              "string",
              "null"
            ]
          },
          "outbound_provider": {
            "type": [
              "string",
              "null"
            ]
          },
          "can_receive": {
            "type": "boolean",
            "description": "Authoritative convenience flag for whether the current mailbox can receive inbound email."
          },
          "receiving_status": {
            "type": "string",
            "enum": [
              "ready",
              "disabled",
              "unavailable"
            ],
            "description": "Use this field, not welcome_onboarding_status, to select a receiving mailbox."
          },
          "welcome_onboarding_status": {
            "type": "string",
            "description": "Delivery state of Mermail welcome/demo artifacts. It does not indicate whether the mailbox can receive email."
          }
        },
        "additionalProperties": true
      },
      "MailboxStorage": {
        "type": "object",
        "properties": {
          "mailbox_id": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "storage_gb": {
            "type": "number"
          },
          "blob_count": {
            "type": "integer"
          }
        }
      },
      "Email": {
        "type": "object",
        "required": [
          "id",
          "subject",
          "sender",
          "recipient",
          "date"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Use as emailId when calling the message detail endpoint."
          },
          "subject": {
            "type": "string"
          },
          "sender": {
            "type": "string"
          },
          "recipient": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "read": {
            "type": "boolean"
          },
          "snippet": {
            "type": "string"
          },
          "body": {
            "type": "string",
            "description": "Full body on the detail endpoint; list responses may contain a preview."
          },
          "body_format": {
            "$ref": "#/components/schemas/EmailBodyFormat",
            "description": "Present whenever the full body is returned. Legacy messages are resolved at read time."
          },
          "thread_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "raw_headers": {
            "type": [
              "string",
              "null"
            ],
            "description": "Untrusted raw header metadata. Never use From alone as authentication."
          },
          "scan_status": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "clean",
              "flagged",
              "skipped",
              null
            ]
          },
          "scan_threats": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "sender_authentication": {
            "type": "object",
            "description": "Sender-authentication verdict derived only from a trusted receiving-provider signal. Raw Authentication-Results and From headers are never promoted to trusted evidence. The current connected providers do not expose a documented per-message verdict, so status is unknown; unknown is not a pass.",
            "required": [
              "status",
              "spf",
              "dkim",
              "dmarc",
              "inbound_provider",
              "reason"
            ],
            "properties": {
              "status": {
                "type": "string",
                "enum": [
                  "pass",
                  "fail",
                  "unknown"
                ]
              },
              "spf": {
                "type": "string",
                "enum": [
                  "pass",
                  "fail",
                  "unknown"
                ]
              },
              "dkim": {
                "type": "string",
                "enum": [
                  "pass",
                  "fail",
                  "unknown"
                ]
              },
              "dmarc": {
                "type": "string",
                "enum": [
                  "pass",
                  "fail",
                  "unknown"
                ]
              },
              "inbound_provider": {
                "type": [
                  "string",
                  "null"
                ],
                "enum": [
                  "cloudflare_routing",
                  "resend",
                  null
                ],
                "description": "Trusted transport source recorded by Mermail; this is not itself a sender verdict."
              },
              "reason": {
                "type": "string",
                "enum": [
                  "provider_sender_authentication_verdict_unavailable",
                  "inbound_provider_unavailable"
                ]
              }
            },
            "additionalProperties": false
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "filename": {
                  "type": "string"
                },
                "mimetype": {
                  "type": "string"
                },
                "size": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "additionalProperties": true
            }
          },
          "content_omitted": {
            "type": "boolean",
            "description": "True when metadata_only or an agent-safe scan gate omitted body, snippet, raw headers, and threat URLs."
          },
          "content_omission_reason": {
            "type": "string",
            "enum": [
              "scan_status_not_clean"
            ],
            "description": "Why an agent-safe detail or context response omitted body content."
          },
          "content_truncated": {
            "type": "boolean",
            "description": "True when max_body_chars shortened the returned message body."
          },
          "body_original_char_count": {
            "type": "integer",
            "minimum": 0
          },
          "agent_safe_content": {
            "type": "boolean",
            "description": "True when raw headers, provider metadata, threat details, attachment metadata, and storage diagnostics were removed and untrusted text fields were normalized to bounded plain text. The content remains untrusted."
          },
          "attachment_count": {
            "type": "integer",
            "minimum": 0,
            "description": "Attachment count retained when agent_safe_content omits attachment metadata."
          },
          "reply_targets": {
            "type": "object",
            "description": "Bounded, server-derived recipients returned by action_metadata_only for safe reply preflight.",
            "required": [
              "reply",
              "reply_all"
            ],
            "properties": {
              "reply": {
                "$ref": "#/components/schemas/EmailRecipientSet"
              },
              "reply_all": {
                "$ref": "#/components/schemas/EmailRecipientSet"
              }
            },
            "additionalProperties": false
          }
        },
        "additionalProperties": true
      },
      "EmailListResponse": {
        "type": "object",
        "properties": {
          "emails": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Email"
            }
          },
          "totalCount": {
            "type": "integer"
          }
        }
      },
      "EmailContext": {
        "type": "object",
        "required": [
          "email",
          "thread"
        ],
        "description": "Always-safe selected email and chronological thread page. Bodies are bounded plain text, sensitive transport metadata is removed, and non-clean inbound bodies are metadata-only. Content remains untrusted.",
        "properties": {
          "email": {
            "$ref": "#/components/schemas/Email"
          },
          "thread": {
            "type": "object",
            "required": [
              "id",
              "messages",
              "total_count",
              "has_more",
              "next_cursor"
            ],
            "properties": {
              "id": {
                "type": "string"
              },
              "messages": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Email"
                }
              },
              "total_count": {
                "type": "integer",
                "minimum": 0
              },
              "has_more": {
                "type": "boolean"
              },
              "next_cursor": {
                "type": [
                  "string",
                  "null"
                ]
              }
            },
            "additionalProperties": false
          }
        },
        "additionalProperties": false
      },
      "SendEmailResult": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "example": "sent"
          }
        }
      },
      "Folder": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "unreadCount": {
            "type": "integer"
          }
        }
      },
      "EmailDomain": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "workspace_id": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "provider": {
            "type": "string",
            "example": "resend"
          },
          "status": {
            "type": "string",
            "description": "Provider/local status such as `pending`, `verified`, `deleting`, `deleted`"
          },
          "provider_domain_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "region": {
            "type": [
              "string",
              "null"
            ]
          },
          "dns_records": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "last_error": {
            "type": [
              "string",
              "null"
            ]
          },
          "verified_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "RagRecallResponse": {
        "type": "object",
        "properties": {
          "snippets": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "text": {
                  "type": "string"
                },
                "blobId": {
                  "type": "string"
                },
                "distance": {
                  "type": "number"
                }
              }
            }
          }
        }
      },
      "AiCreditUsage": {
        "type": "object",
        "required": [
          "mode",
          "plan",
          "period_start",
          "period_end",
          "renews_at",
          "allowance",
          "used",
          "reserved",
          "remaining",
          "observed_used",
          "observed_reserved",
          "action_prices",
          "policy_version",
          "warning"
        ],
        "properties": {
          "mode": {
            "type": "string",
            "enum": [
              "off",
              "observe",
              "enforce"
            ]
          },
          "plan": {
            "type": "string"
          },
          "period_start": {
            "type": "string",
            "format": "date-time"
          },
          "period_end": {
            "type": "string",
            "format": "date-time"
          },
          "renews_at": {
            "type": "string",
            "format": "date-time"
          },
          "allowance": {
            "type": "integer",
            "minimum": 0
          },
          "used": {
            "type": "integer",
            "minimum": 0
          },
          "reserved": {
            "type": "integer",
            "minimum": 0
          },
          "remaining": {
            "type": "integer",
            "minimum": 0
          },
          "observed_used": {
            "type": "integer",
            "minimum": 0,
            "description": "Hypothetical settled credits; never deducted from the enforced allowance."
          },
          "observed_reserved": {
            "type": "integer",
            "minimum": 0,
            "description": "Hypothetical active reservations in observation mode."
          },
          "action_prices": {
            "type": "object",
            "required": [
              "chat",
              "draft",
              "automation",
              "knowledge_index"
            ],
            "properties": {
              "chat": {
                "type": "integer",
                "minimum": 0
              },
              "draft": {
                "type": "integer",
                "minimum": 0
              },
              "automation": {
                "type": "integer",
                "minimum": 0
              },
              "knowledge_index": {
                "type": "integer",
                "minimum": 0
              }
            }
          },
          "policy_version": {
            "type": "string"
          },
          "warning": {
            "type": "string",
            "enum": [
              "normal",
              "low",
              "exhausted"
            ]
          }
        }
      },
      "AiCreditEvent": {
        "type": "object",
        "required": [
          "id",
          "action_id",
          "type",
          "credits",
          "mode",
          "action",
          "reason",
          "created_at"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "action_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "type": {
            "type": "string"
          },
          "credits": {
            "type": "integer"
          },
          "mode": {
            "type": "string",
            "enum": [
              "off",
              "observe",
              "enforce"
            ]
          },
          "action": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "chat",
                  "draft",
                  "automation",
                  "knowledge_index"
                ]
              },
              {
                "type": "null"
              }
            ]
          },
          "reason": {
            "type": [
              "string",
              "null"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "AiCreditEvents": {
        "type": "object",
        "required": [
          "events",
          "next_cursor"
        ],
        "properties": {
          "events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AiCreditEvent"
            }
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "AiCreditsExhausted": {
        "type": "object",
        "required": [
          "error",
          "code",
          "required",
          "available",
          "renews_at"
        ],
        "properties": {
          "error": {
            "const": "ai_credits_exhausted"
          },
          "code": {
            "const": "ai_credits_exhausted"
          },
          "required": {
            "type": "integer",
            "minimum": 1
          },
          "available": {
            "type": "integer",
            "minimum": 0
          },
          "renews_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "EmailBodyFormat": {
        "type": "string",
        "enum": [
          "html",
          "text"
        ],
        "description": "How the body must be delivered and rendered. \"text\" preserves literal whitespace and does not interpret Markdown; \"html\" enables rich formatting subject to email sanitization."
      },
      "EmailRecipientSet": {
        "type": "object",
        "required": [
          "to",
          "cc",
          "bcc"
        ],
        "properties": {
          "to": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "cc": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "bcc": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          }
        },
        "additionalProperties": false
      },
      "CreateMailboxRequest": {
        "type": "object",
        "required": [
          "email",
          "name"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "Address on an allowed hosted or fully verified custom domain."
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "description": "Human-readable mailbox display name."
          },
          "workspaceId": {
            "type": "string",
            "description": "Optional for workspace-scoped API keys; if supplied it must match the credential workspace."
          },
          "settings": {
            "type": "object",
            "description": "Optional mailbox settings. For a dedicated verification inbox, use agentInbox.mode=verification and agentInbox.automationsEnabled=false.",
            "properties": {
              "agentInbox": {
                "type": "object",
                "properties": {
                  "mode": {
                    "type": "string",
                    "enum": [
                      "standard",
                      "verification"
                    ]
                  },
                  "automationsEnabled": {
                    "type": "boolean"
                  },
                  "requireCleanScanForAutomation": {
                    "type": "boolean",
                    "description": "When true, skipped or unavailable scans suppress model-backed inbound automation without rejecting delivery."
                  }
                },
                "additionalProperties": true
              }
            },
            "additionalProperties": true
          }
        },
        "additionalProperties": false
      },
      "SendEmailRequest": {
        "type": "object",
        "required": [
          "to",
          "from",
          "subject"
        ],
        "anyOf": [
          {
            "required": [
              "html"
            ]
          },
          {
            "required": [
              "text"
            ]
          }
        ],
        "properties": {
          "to": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ]
          },
          "cc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ]
          },
          "bcc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ]
          },
          "from": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "object",
                "required": [
                  "email",
                  "name"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "name": {
                    "type": "string"
                  }
                }
              }
            ]
          },
          "subject": {
            "type": "string"
          },
          "html": {
            "type": "string",
            "description": "Rich email body. When html and text are both supplied, both MIME alternatives are delivered and html is stored for display."
          },
          "text": {
            "type": "string",
            "description": "Literal plain-text body. Newlines and repeated spaces are preserved; Markdown is not rendered."
          },
          "attachments": {
            "type": "array",
            "maxItems": 20,
            "description": "Base64 file bytes or an existing attachment_id from the same authorized mailbox. Omit to preserve attachments from source_draft_id (send) or draft_id (save/schedule); [] clears; an array replaces the complete set. Storage limits: 20 files, 10 MiB each, 25 MiB decoded total. Provider message limits include encoding/overhead: Cloudflare 5 MiB, Resend 40 MB. Reject empty files, unsafe filenames, malformed base64, duplicate references and Content-IDs. Base64 adds about one third in transport size; reverse proxy limits also apply. Local paths and URLs are not accepted.",
            "items": {
              "oneOf": [
                {
                  "type": "object",
                  "required": [
                    "content",
                    "filename",
                    "type",
                    "disposition"
                  ],
                  "properties": {
                    "content": {
                      "type": "string",
                      "contentEncoding": "base64",
                      "description": "Base64 encoded file bytes, without a data URL prefix."
                    },
                    "filename": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 255
                    },
                    "type": {
                      "type": "string",
                      "description": "MIME type, e.g. application/pdf."
                    },
                    "disposition": {
                      "type": "string",
                      "enum": [
                        "attachment",
                        "inline"
                      ]
                    },
                    "contentId": {
                      "type": "string",
                      "description": "Unique bare Content-ID required for inline PNG/JPEG/GIF/WebP; use matching HTML src=cid:contentId. Resend requires fewer than 128 characters."
                    },
                    "encryption": {
                      "type": "string",
                      "enum": [
                        "worker-aes-v1"
                      ]
                    }
                  },
                  "additionalProperties": false
                },
                {
                  "type": "object",
                  "required": [
                    "attachment_id"
                  ],
                  "properties": {
                    "attachment_id": {
                      "type": "string",
                      "description": "Authorized same-mailbox attachment ID; metadata and bytes are resolved server-side."
                    }
                  },
                  "additionalProperties": false
                }
              ]
            }
          },
          "in_reply_to": {
            "type": "string"
          },
          "references": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "thread_id": {
            "type": "string"
          },
          "source_draft_id": {
            "type": "string"
          },
          "client_send_id": {
            "type": "string",
            "format": "uuid"
          }
        },
        "additionalProperties": true
      },
      "DraftRequest": {
        "type": "object",
        "required": [
          "body"
        ],
        "properties": {
          "to": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ]
          },
          "cc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ]
          },
          "bcc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ]
          },
          "subject": {
            "type": "string"
          },
          "body": {
            "type": "string",
            "description": "Body bytes stored without rewriting. Use body_format=text for literal whitespace or body_format=html for rich email markup. Markdown is not rendered automatically."
          },
          "body_format": {
            "$ref": "#/components/schemas/EmailBodyFormat"
          },
          "attachments": {
            "type": "array",
            "maxItems": 20,
            "description": "Base64 file bytes or an existing attachment_id from the same authorized mailbox. Omit to preserve attachments from source_draft_id (send) or draft_id (save/schedule); [] clears; an array replaces the complete set. Storage limits: 20 files, 10 MiB each, 25 MiB decoded total. Provider message limits include encoding/overhead: Cloudflare 5 MiB, Resend 40 MB. Reject empty files, unsafe filenames, malformed base64, duplicate references and Content-IDs. Base64 adds about one third in transport size; reverse proxy limits also apply. Local paths and URLs are not accepted.",
            "items": {
              "oneOf": [
                {
                  "type": "object",
                  "required": [
                    "content",
                    "filename",
                    "type",
                    "disposition"
                  ],
                  "properties": {
                    "content": {
                      "type": "string",
                      "contentEncoding": "base64",
                      "description": "Base64 encoded file bytes, without a data URL prefix."
                    },
                    "filename": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 255
                    },
                    "type": {
                      "type": "string",
                      "description": "MIME type, e.g. application/pdf."
                    },
                    "disposition": {
                      "type": "string",
                      "enum": [
                        "attachment",
                        "inline"
                      ]
                    },
                    "contentId": {
                      "type": "string",
                      "description": "Unique bare Content-ID required for inline PNG/JPEG/GIF/WebP; use matching HTML src=cid:contentId. Resend requires fewer than 128 characters."
                    },
                    "encryption": {
                      "type": "string",
                      "enum": [
                        "worker-aes-v1"
                      ]
                    }
                  },
                  "additionalProperties": false
                },
                {
                  "type": "object",
                  "required": [
                    "attachment_id"
                  ],
                  "properties": {
                    "attachment_id": {
                      "type": "string",
                      "description": "Authorized same-mailbox attachment ID; metadata and bytes are resolved server-side."
                    }
                  },
                  "additionalProperties": false
                }
              ]
            }
          },
          "in_reply_to": {
            "type": "string"
          },
          "thread_id": {
            "type": "string"
          },
          "draft_id": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "ScheduleSendRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/DraftRequest"
          },
          {
            "type": "object",
            "required": [
              "to",
              "scheduled_send_at"
            ],
            "properties": {
              "to": {
                "oneOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "email"
                    }
                  }
                ]
              },
              "scheduled_send_at": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        ]
      },
      "EmailPage": {
        "type": "object",
        "required": [
          "emails",
          "totalCount"
        ],
        "properties": {
          "emails": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Email"
            }
          },
          "totalCount": {
            "type": "integer",
            "minimum": 0
          }
        },
        "additionalProperties": true
      }
    }
  },
  "paths": {
    "/api/v1/auth/signup/start": {
      "post": {
        "operationId": "startEmailOtpSignup",
        "summary": "Start email/password signup with a six-digit email code",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "password"
                ],
                "additionalProperties": false,
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "password": {
                    "type": "string",
                    "format": "password",
                    "writeOnly": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Challenge created and code accepted for delivery"
          },
          "400": {
            "description": "Invalid request"
          },
          "403": {
            "description": "Untrusted origin or invalid CSRF token"
          },
          "404": {
            "description": "OTP signup is disabled"
          },
          "429": {
            "description": "Signup budget exhausted"
          },
          "503": {
            "description": "Verification or email service unavailable"
          }
        }
      }
    },
    "/api/v1/auth/verification/config": {
      "get": {
        "operationId": "getEmailOtpConfiguration",
        "summary": "Read whether email OTP signup is enabled",
        "security": [],
        "responses": {
          "200": {
            "description": "Feature state",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "enabled"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "enabled": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/verification/start": {
      "post": {
        "operationId": "startLegacyEmailVerification",
        "summary": "Start OTP verification for a recent unverified Firebase password identity",
        "security": [],
        "responses": {
          "201": {
            "description": "Challenge created"
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Invalid, verified, disabled, or stale Firebase identity"
          },
          "429": {
            "description": "Verification budget exhausted"
          }
        }
      }
    },
    "/api/v1/auth/verification/status": {
      "post": {
        "operationId": "getEmailOtpStatus",
        "summary": "Restore an OTP challenge using its opaque access token",
        "security": [],
        "responses": {
          "200": {
            "description": "Challenge status and server timestamps"
          },
          "401": {
            "description": "Invalid challenge token"
          },
          "410": {
            "description": "Challenge expired"
          },
          "429": {
            "description": "Verification budget exhausted"
          }
        }
      }
    },
    "/api/v1/auth/verification/resend": {
      "post": {
        "operationId": "resendEmailOtp",
        "summary": "Replace the active OTP and send a new code",
        "security": [],
        "responses": {
          "200": {
            "description": "New code accepted for delivery; old code invalidated"
          },
          "401": {
            "description": "Invalid challenge token"
          },
          "409": {
            "description": "Challenge is not pending, or resend_limit_reached after three codes (start a new challenge)"
          },
          "429": {
            "description": "Resend cooldown or verification budget active"
          }
        }
      }
    },
    "/api/v1/auth/verification/confirm": {
      "post": {
        "operationId": "confirmEmailOtp",
        "summary": "Confirm a six-digit email OTP",
        "security": [],
        "responses": {
          "200": {
            "description": "Email verified and Firebase account ready"
          },
          "400": {
            "description": "Invalid code"
          },
          "401": {
            "description": "Invalid challenge token"
          },
          "409": {
            "description": "Verification is already in progress"
          },
          "410": {
            "description": "Code or challenge expired"
          },
          "429": {
            "description": "Attempt, request, or per-address daily confirmation budget exhausted"
          }
        }
      }
    },
    "/api/v1/auth/verification/abandon": {
      "post": {
        "operationId": "abandonEmailOtp",
        "summary": "Abandon an OTP challenge and erase its secrets",
        "security": [],
        "responses": {
          "200": {
            "description": "Challenge abandoned"
          },
          "401": {
            "description": "Invalid challenge token"
          },
          "410": {
            "description": "Challenge expired"
          }
        }
      }
    },
    "/api/v1/auth/attempt": {
      "post": {
        "operationId": "admitAuthenticationAction",
        "summary": "Rate-limit a browser authentication action",
        "description": "Anonymous admission for Firebase login, signup, password reset and verification resend. Requires a trusted origin and matching CSRF cookie/header when a console session cookie is present. Accepts no passwords and reveals no account existence. This preflight does not authorize a session or prevent direct Firebase API calls; Firebase abuse protection is also required. All responses use Cache-Control: no-store.",
        "security": [],
        "parameters": [
          {
            "name": "x-csrf-token",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Required when a console session cookie is present; must match the CSRF cookie."
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Strict JSON limited to 2 KiB.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "action",
                  "email"
                ],
                "additionalProperties": false,
                "properties": {
                  "action": {
                    "type": "string",
                    "enum": [
                      "login",
                      "signup",
                      "reset",
                      "verify"
                    ]
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "maxLength": 254
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Action admitted; no account lookup or session issuance",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "allowed"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "allowed": {
                      "type": "boolean",
                      "const": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid JSON, email, action, or additional properties"
          },
          "403": {
            "description": "Untrusted origin or invalid CSRF token"
          },
          "413": {
            "description": "Request exceeds 2 KiB"
          },
          "429": {
            "description": "Action budget exhausted",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error",
                    "code",
                    "retry_after_seconds"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "const": "auth_rate_limit_exceeded"
                    },
                    "retry_after_seconds": {
                      "type": "integer",
                      "minimum": 1
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error; details are not exposed"
          },
          "503": {
            "description": "Authentication admission service unavailable"
          }
        }
      }
    },
    "/api/v1/auth/password-reset": {
      "post": {
        "operationId": "requestPasswordReset",
        "summary": "Send a Mermail password reset link",
        "description": "Acknowledges every well-formed request with the same response, then (after the response) looks up the normalized address in Firebase. Password accounts receive a direct Mermail reset link with a Firebase single-use action code; Google-only accounts receive a sign-in-with-Google notice; unknown or disabled addresses receive nothing. The response never reveals whether an account exists. Requires a trusted origin and matching CSRF cookie/header when a console session cookie is present. The request is limited to 2 KiB and all responses use Cache-Control: no-store.",
        "security": [],
        "parameters": [
          {
            "name": "x-csrf-token",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Required when a console session cookie is present; must match the CSRF cookie."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "additionalProperties": false,
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "maxLength": 254
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request accepted; identical whether or not an account exists",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid JSON, email, or additional properties"
          },
          "403": {
            "description": "Untrusted origin or invalid CSRF token"
          },
          "413": {
            "description": "Request exceeds 2 KiB"
          },
          "429": {
            "description": "Reset budget exhausted",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            }
          },
          "503": {
            "description": "Password reset is not configured on this deployment"
          }
        }
      }
    },
    "/api/v1/auth/password-link/verify": {
      "post": {
        "operationId": "verifyPasswordLinkIdentity",
        "summary": "Verify Google ownership before adding a password",
        "description": "Requires an active Mermail console cookie session, trusted request origin, and matching CSRF cookie/header. Verifies a recent, verified Google Firebase identity against the authenticated user's stored Firebase UID. Does not link credentials, change accounts, or set cookies. Passwords must go directly to Firebase and must never be sent here. API keys and bearer tokens do not authenticate this endpoint. All responses use Cache-Control: no-store.",
        "security": [
          {
            "AppSessionCookie": []
          },
          {
            "DevelopmentAppSessionCookie": []
          }
        ],
        "parameters": [
          {
            "name": "x-csrf-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Must match the __Host-mermail_csrf_token or mermail_csrf_token cookie accompanying the session."
          }
        ],
        "requestBody": {
          "required": true,
          "description": "JSON body limited to 64 KiB, including property names and encoding.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "firebaseIdToken"
                ],
                "additionalProperties": false,
                "properties": {
                  "firebaseIdToken": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Fresh Firebase Google ID token; never a password or a caller-supplied expected UID."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Google identity matches the authenticated account",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "firebase_uid"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "firebase_uid": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid JSON, missing token, or additional properties"
          },
          "401": {
            "description": "Invalid session or Firebase identity, including mismatched UID, stale authentication, unverified email, or non-Google provider"
          },
          "403": {
            "description": "Untrusted origin, invalid CSRF token, or restricted account"
          },
          "409": {
            "description": "Account has no established Firebase identity"
          },
          "413": {
            "description": "Request body exceeds 64 KiB"
          },
          "429": {
            "description": "Authentication rate limit exceeded",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer",
                  "minimum": 1
                },
                "description": "Seconds until retry"
              }
            }
          },
          "500": {
            "description": "Internal server error; details are not exposed"
          },
          "503": {
            "description": "Firebase or authentication rate-limit service unavailable"
          }
        }
      }
    },
    "/api/v1/workspaces/{workspaceId}/usage/ai-credits": {
      "get": {
        "operationId": "getAiCreditUsage",
        "summary": "Get workspace AI credit usage",
        "description": "Requires membership in the authenticated workspace. AI credits are shared across members, mailboxes, console, API/MCP, and background tasks. Free receives 100 and Developer 1,000 per period; Enterprise uses a finite override or 1,000. No rollover, top-ups, or automatic overages. Observation records hypothetical usage. Enforced AI actions cost one AI credit in addition to ordinary API request credits, replacing legacy AI API surcharges. Routine security and inbox organization remain included. Public Site Profile analysis is separate. Exhausted automations require manual handling and are not replayed at renewal.",
        "security": [
          {
            "ProjectApiKey": []
          },
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Current period allowance and usage",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AiCreditUsage"
                }
              }
            }
          },
          "400": {
            "description": "Invalid pagination"
          },
          "401": {
            "description": "Authentication required"
          },
          "403": {
            "description": "Workspace access denied"
          },
          "503": {
            "description": "Accounting temporarily unavailable or subscription period stale; retry later"
          }
        }
      }
    },
    "/api/v1/workspaces/{workspaceId}/usage/ai-credits/events": {
      "get": {
        "operationId": "listAiCreditEvents",
        "summary": "List workspace AI credit events",
        "description": "Requires membership in the authenticated workspace. AI credits are shared across members, mailboxes, console, API/MCP, and background tasks. Free receives 100 and Developer 1,000 per period; Enterprise uses a finite override or 1,000. No rollover, top-ups, or automatic overages. Observation records hypothetical usage. Enforced AI actions cost one AI credit in addition to ordinary API request credits, replacing legacy AI API surcharges. Routine security and inbox organization remain included. Public Site Profile analysis is separate. Exhausted automations require manual handling and are not replayed at renewal.",
        "security": [
          {
            "ProjectApiKey": []
          },
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 255
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Append-only credit history; no private content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AiCreditEvents"
                }
              }
            }
          },
          "400": {
            "description": "Invalid pagination"
          },
          "401": {
            "description": "Authentication required"
          },
          "403": {
            "description": "Workspace access denied"
          },
          "503": {
            "description": "Accounting temporarily unavailable or subscription period stale; retry later"
          }
        }
      }
    },
    "/api/v1/mailboxes/{mailboxId}/attachments/resolve": {
      "post": {
        "operationId": "resolveAttachments",
        "summary": "Resolve attachment metadata",
        "description": "Read-only metadata lookup for attachments in the authorized mailbox. All IDs must exist on non-deleted emails in that mailbox. Returns no file bytes or storage keys; it does not upload or modify attachments.",
        "security": [
          {
            "ProjectApiKey": []
          },
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "mailboxId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "attachment_ids"
                ],
                "additionalProperties": false,
                "properties": {
                  "attachment_ids": {
                    "type": "array",
                    "maxItems": 20,
                    "uniqueItems": true,
                    "items": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 255
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authorized attachment metadata in request order",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "attachments"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "attachments": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "email_id",
                          "filename",
                          "mimetype",
                          "size",
                          "content_id",
                          "disposition"
                        ],
                        "additionalProperties": false,
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "email_id": {
                            "type": "string"
                          },
                          "filename": {
                            "type": "string"
                          },
                          "mimetype": {
                            "type": "string"
                          },
                          "size": {
                            "type": "integer",
                            "minimum": 0
                          },
                          "content_id": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "disposition": {
                            "type": "string",
                            "enum": [
                              "attachment",
                              "inline"
                            ]
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid or duplicate attachment IDs"
          },
          "401": {
            "description": "Authentication required"
          },
          "403": {
            "description": "Mailbox access denied"
          },
          "404": {
            "description": "Attachment unavailable in the authorized mailbox"
          },
          "413": {
            "description": "Request body too large"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/api/v1/mailboxes/{mailboxId}/emails/{emailId}/reply": {
      "post": {
        "operationId": "replyToEmail",
        "summary": "Reply to an email",
        "description": "Uses the send contract, including attachments and HTML CID images. Include same-mailbox attachment_id references for original files you want to send; omission only inherits attachments when source_draft_id is supplied. Threading is resolved server-side.",
        "security": [
          {
            "ProjectApiKey": []
          },
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "mailboxId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "emailId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendEmailRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Email accepted for delivery"
          },
          "400": {
            "description": "Invalid message or attachments"
          },
          "401": {
            "description": "Authentication required"
          },
          "403": {
            "description": "Mailbox access denied"
          },
          "404": {
            "description": "Email or attachment unavailable in the authorized mailbox"
          },
          "413": {
            "description": "Request or encoded provider message too large"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/api/v1/mailboxes/{mailboxId}/emails/{emailId}/forward": {
      "post": {
        "operationId": "forwardEmail",
        "summary": "Forward an email",
        "description": "Uses the send contract, including attachments and HTML CID images. Include same-mailbox attachment_id references for original files you want to send; omission only inherits attachments when source_draft_id is supplied. Threading is resolved server-side.",
        "security": [
          {
            "ProjectApiKey": []
          },
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "mailboxId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "emailId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendEmailRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Email accepted for delivery"
          },
          "400": {
            "description": "Invalid message or attachments"
          },
          "401": {
            "description": "Authentication required"
          },
          "403": {
            "description": "Mailbox access denied"
          },
          "404": {
            "description": "Email or attachment unavailable in the authorized mailbox"
          },
          "413": {
            "description": "Request or encoded provider message too large"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/api/v1/site-profile/analyses": {
      "post": {
        "operationId": "createSiteProfileAnalysis",
        "summary": "Start a public website profile analysis",
        "responses": {
          "202": {
            "description": "Analysis accepted"
          },
          "400": {
            "description": "Invalid website"
          }
        }
      }
    },
    "/api/v1/site-profile/analyses/resume": {
      "get": {
        "operationId": "resumeSiteProfileAnalyses",
        "summary": "Resume recent anonymous website analyses",
        "responses": {
          "200": {
            "description": "Resumable analyses"
          }
        }
      }
    },
    "/api/v1/site-profile/analyses/{analysisId}": {
      "get": {
        "operationId": "getSiteProfileAnalysis",
        "summary": "Read website analysis state",
        "parameters": [
          {
            "name": "analysisId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Analysis state"
          }
        }
      }
    },
    "/api/v1/site-profile/analyses/{analysisId}/events": {
      "get": {
        "operationId": "streamSiteProfileAnalysis",
        "summary": "Stream website analysis progress",
        "parameters": [
          {
            "name": "analysisId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Server-sent event stream"
          }
        }
      }
    },
    "/api/v1/site-profile/analyses/{analysisId}/handoffs": {
      "post": {
        "operationId": "createSiteProfileHandoff",
        "summary": "Create an app import handoff from a validated analysis",
        "parameters": [
          {
            "name": "analysisId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Handoff created"
          }
        }
      }
    },
    "/api/v1/site-profile/handoffs/pending": {
      "get": {
        "operationId": "listPendingSiteProfileHandoffs",
        "summary": "List pending Site Profile imports for the signed-in session",
        "responses": {
          "200": {
            "description": "Pending handoffs"
          }
        }
      }
    },
    "/api": {
      "get": {
        "operationId": "getAgentApiEntry",
        "summary": "Get agent API entry metadata (USDC x402)",
        "description": "Public $0 x402 identity handshake. No API key. Unpaid requests return 402 with x402 accepts[] across supported networks. After the handshake, returns API base, agent marketplace base, docs, and OpenAPI URLs.",
        "security": [],
        "x-payment-info": {
          "authMode": "payment-required",
          "intent": "identity",
          "method": "evm",
          "amount": "0",
          "currency": "USDC",
          "price": {
            "mode": "fixed",
            "amount": "0",
            "currency": "USD"
          },
          "protocols": [
            {
              "x402": {}
            }
          ],
          "description": "Zero-amount x402 handshake. Payment binds the wallet identity; no USDC is charged. No API key. The live 402 accepts[] is the quote."
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Paid API entry metadata",
            "headers": {
              "PAYMENT-RESPONSE": {
                "description": "x402 settlement receipt",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "service",
                    "api_base_url",
                    "agent_api_base_url",
                    "documentation_url",
                    "openapi_url",
                    "payment"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "service": {
                      "type": "string"
                    },
                    "api_base_url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "agent_api_base_url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "documentation_url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "openapi_url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "payment": {
                      "type": "object",
                      "required": [
                        "protocol",
                        "currency",
                        "receiver"
                      ],
                      "additionalProperties": false,
                      "properties": {
                        "protocol": {
                          "type": "string",
                          "const": "x402"
                        },
                        "currency": {
                          "type": "string",
                          "const": "USDC"
                        },
                        "receiver": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment required. PAYMENT-REQUIRED lists USDC options on every accepted network and includes request/response schema in extensions.bazaar.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "x402 payment requirements (base64 JSON), including extensions.bazaar request and response schema",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              }
            }
          }
        }
      }
    },
    "/api/agent/v1/mailboxes": {
      "post": {
        "operationId": "agentCreateMailbox",
        "summary": "Create a hosted agent inbox",
        "description": "Keyless hosted inbox create. Payment is the credential over x402 or MPP. Each distinct POST creates a new hosted inbox in verification mode with automations off. Replay the same Idempotency-Key and body after an uncertain settlement.",
        "security": [],
        "x-payment-info": {
          "authMode": "payment-required",
          "intent": "charge",
          "method": "evm",
          "amount": "2000000",
          "currency": "USDC",
          "price": {
            "mode": "fixed",
            "amount": "2",
            "currency": "USD"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "evm",
                "intent": "charge"
              }
            }
          ],
          "receiver": "0xe943ca6F83E4585FB64c2118d36ac325e1bF149e",
          "description": "Pay-per-call USDC over x402 or MPP (when enabled). No API key. The live 402 accepts[] is the quote."
        },
        "parameters": [
          {
            "name": "PAYMENT-SIGNATURE",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "x402 payment or identity-handshake credential. Retry unpaid 402 responses with this header."
          },
          {
            "name": "Payment-Authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "MPP payment credential advertised by WWW-Authenticate. Do not send together with PAYMENT-SIGNATURE."
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 255
            },
            "description": "Replay the same key and body after an uncertain paid call. A different body under the same key returns 409."
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Optional hosted Mermail address. Omit to receive a generated hosted inbox."
                  },
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Paid or identity-handshake success",
            "headers": {
              "PAYMENT-RESPONSE": {
                "description": "x402 settlement or identity-handshake receipt",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              },
              "Payment-Receipt": {
                "description": "MPP receipt when the call was paid with Payment-Authorization",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "public_id",
                    "workspace_id",
                    "email",
                    "name"
                  ],
                  "additionalProperties": true,
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "public_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "workspace_id": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string",
                      "format": "email"
                    },
                    "name": {
                      "type": "string"
                    },
                    "can_receive": {
                      "type": "boolean"
                    },
                    "receiving_status": {
                      "type": "string",
                      "enum": [
                        "ready",
                        "disabled",
                        "unavailable"
                      ]
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment required. PAYMENT-REQUIRED includes x402 accepts[] and extensions.bazaar request/response schema. WWW-Authenticate advertises MPP when enabled.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "x402 payment requirements (base64 JSON), including extensions.bazaar request and response schema",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              },
              "WWW-Authenticate": {
                "description": "MPP Payment challenge when MPP is enabled. Retry with Payment-Authorization.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Inbox cap or mailbox access denied"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Idempotency-Key reused with a different body"
          }
        }
      },
      "get": {
        "operationId": "agentListMailboxes",
        "summary": "List wallet-bound inboxes",
        "description": "Keyless $0 x402 identity handshake. Payment binds the wallet; no USDC is charged. Get/context/attachment stay scan-gated: non-clean inbound bodies return metadata with content_omitted.",
        "security": [],
        "x-payment-info": {
          "authMode": "payment-required",
          "intent": "identity",
          "method": "evm",
          "amount": "0",
          "currency": "USDC",
          "price": {
            "mode": "fixed",
            "amount": "0",
            "currency": "USD"
          },
          "protocols": [
            {
              "x402": {}
            }
          ],
          "receiver": "0xe943ca6F83E4585FB64c2118d36ac325e1bF149e",
          "description": "Zero-amount x402 handshake. Payment binds the wallet identity; no USDC is charged. The live 402 accepts[] is the quote."
        },
        "parameters": [
          {
            "name": "PAYMENT-SIGNATURE",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "x402 payment or identity-handshake credential. Retry unpaid 402 responses with this header."
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Paid or identity-handshake success",
            "headers": {
              "PAYMENT-RESPONSE": {
                "description": "x402 settlement or identity-handshake receipt",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "public_id",
                      "workspace_id",
                      "email",
                      "name"
                    ],
                    "additionalProperties": true,
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "public_id": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "workspace_id": {
                        "type": "string"
                      },
                      "email": {
                        "type": "string",
                        "format": "email"
                      },
                      "name": {
                        "type": "string"
                      },
                      "can_receive": {
                        "type": "boolean"
                      },
                      "receiving_status": {
                        "type": "string",
                        "enum": [
                          "ready",
                          "disabled",
                          "unavailable"
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment required. Amount is 0 for identity handshakes. PAYMENT-REQUIRED includes extensions.bazaar request/response schema. The live 402 accepts[] is the quote.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "x402 payment requirements (base64 JSON), including extensions.bazaar request and response schema",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              }
            }
          },
          "403": {
            "description": "Inbox cap or mailbox access denied"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Idempotency-Key reused with a different body"
          }
        }
      }
    },
    "/api/agent/v1/mailboxes/{mailboxId}": {
      "get": {
        "operationId": "agentGetMailbox",
        "summary": "Get a wallet-bound inbox",
        "description": "Keyless $0 x402 identity handshake. Payment binds the wallet; no USDC is charged. Get/context/attachment stay scan-gated: non-clean inbound bodies return metadata with content_omitted.",
        "security": [],
        "x-payment-info": {
          "authMode": "payment-required",
          "intent": "identity",
          "method": "evm",
          "amount": "0",
          "currency": "USDC",
          "price": {
            "mode": "fixed",
            "amount": "0",
            "currency": "USD"
          },
          "protocols": [
            {
              "x402": {}
            }
          ],
          "receiver": "0xe943ca6F83E4585FB64c2118d36ac325e1bF149e",
          "description": "Zero-amount x402 handshake. Payment binds the wallet identity; no USDC is charged. The live 402 accepts[] is the quote."
        },
        "parameters": [
          {
            "name": "mailboxId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PAYMENT-SIGNATURE",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "x402 payment or identity-handshake credential. Retry unpaid 402 responses with this header."
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Paid or identity-handshake success",
            "headers": {
              "PAYMENT-RESPONSE": {
                "description": "x402 settlement or identity-handshake receipt",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "public_id",
                    "workspace_id",
                    "email",
                    "name"
                  ],
                  "additionalProperties": true,
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "public_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "workspace_id": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string",
                      "format": "email"
                    },
                    "name": {
                      "type": "string"
                    },
                    "can_receive": {
                      "type": "boolean"
                    },
                    "receiving_status": {
                      "type": "string",
                      "enum": [
                        "ready",
                        "disabled",
                        "unavailable"
                      ]
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment required. Amount is 0 for identity handshakes. PAYMENT-REQUIRED includes extensions.bazaar request/response schema. The live 402 accepts[] is the quote.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "x402 payment requirements (base64 JSON), including extensions.bazaar request and response schema",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              }
            }
          },
          "403": {
            "description": "Inbox cap or mailbox access denied"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Idempotency-Key reused with a different body"
          }
        }
      }
    },
    "/api/agent/v1/mailboxes/{mailboxId}/emails": {
      "get": {
        "operationId": "agentListEmails",
        "summary": "List inbox messages",
        "description": "Keyless $0 x402 identity handshake. Payment binds the wallet; no USDC is charged. Get/context/attachment stay scan-gated: non-clean inbound bodies return metadata with content_omitted.",
        "security": [],
        "x-payment-info": {
          "authMode": "payment-required",
          "intent": "identity",
          "method": "evm",
          "amount": "0",
          "currency": "USDC",
          "price": {
            "mode": "fixed",
            "amount": "0",
            "currency": "USD"
          },
          "protocols": [
            {
              "x402": {}
            }
          ],
          "receiver": "0xe943ca6F83E4585FB64c2118d36ac325e1bF149e",
          "description": "Zero-amount x402 handshake. Payment binds the wallet identity; no USDC is charged. The live 402 accepts[] is the quote."
        },
        "parameters": [
          {
            "name": "mailboxId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "folder",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortColumn",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "id",
                "subject",
                "sender",
                "recipient",
                "date",
                "read",
                "starred"
              ]
            }
          },
          {
            "name": "sortDirection",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ASC",
                "DESC"
              ]
            }
          },
          {
            "name": "metadata_only",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "require_scan_status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "clean",
                "flagged",
                "skipped"
              ]
            }
          },
          {
            "name": "agent_safe_content",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "PAYMENT-SIGNATURE",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "x402 payment or identity-handshake credential. Retry unpaid 402 responses with this header."
          }
        ],
        "responses": {
          "200": {
            "description": "Paid or identity-handshake success",
            "headers": {
              "PAYMENT-RESPONSE": {
                "description": "x402 settlement or identity-handshake receipt",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "emails",
                    "totalCount"
                  ],
                  "additionalProperties": true,
                  "properties": {
                    "emails": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "subject",
                          "sender",
                          "recipient",
                          "date"
                        ],
                        "additionalProperties": true,
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "subject": {
                            "type": "string"
                          },
                          "sender": {
                            "type": "string"
                          },
                          "recipient": {
                            "type": "string"
                          },
                          "date": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "read": {
                            "type": "boolean"
                          },
                          "snippet": {
                            "type": "string"
                          },
                          "body": {
                            "type": "string"
                          },
                          "scan_status": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "enum": [
                              "clean",
                              "flagged",
                              "skipped",
                              null
                            ]
                          },
                          "content_omitted": {
                            "type": "boolean"
                          },
                          "thread_id": {
                            "type": [
                              "string",
                              "null"
                            ]
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "type": "integer",
                      "minimum": 0
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment required. Amount is 0 for identity handshakes. PAYMENT-REQUIRED includes extensions.bazaar request/response schema. The live 402 accepts[] is the quote.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "x402 payment requirements (base64 JSON), including extensions.bazaar request and response schema",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              }
            }
          },
          "403": {
            "description": "Inbox cap or mailbox access denied"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Idempotency-Key reused with a different body"
          }
        }
      },
      "post": {
        "operationId": "agentSendEmail",
        "summary": "Send an email",
        "description": "Keyless $0.01 USDC send path over x402 or MPP. Payment is the credential. Replay the same Idempotency-Key and body after an uncertain settlement.",
        "security": [],
[...]
